# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\지훈공부\코테\64061_크레인 인형뽑기\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
